.__palette {
    color:#ffd090;
    color:#e92376;
    color:#6f12cc;
    color:#f52fc3;
    color:#ffb9f9;
    color:#4b0082;
    color:#8f38e0;
    color:#afa6ff;
    color:#2e54ff;
    color:#4cdb4c;
    color:#156e5f;
}

@font-face {
    font-family: "CarterOne";
    src: url("fonts/Carter_One/CarterOne-Regular.ttf") format('truetype');
}

html {
    background-color: #000000;
    background-image: url(img/CasA_nircam_2048.avif);
    background-repeat: repeat-y;
    background-size: cover;

    color: #E0E0E0;
    font-family: "CarterOne";
    font-size: 16px;
    text-shadow: 0px 0px 12px #8F38E0;
}

.main_div {
    backdrop-filter: blur(3px);
    transform: translateZ(0);
    background-color: #0000005F;
    box-shadow: 0px 0px 24px #6000E0;
}


.versioning {
    color: #FFFFFF;
}

input, textarea {
    color: #E0E0E0;
    background-color: #00000080;
    box-shadow: 0px 0px 12px #a6ffde;
}

button {
    color: #E0E0E0;
    background-color: #00000080;
    box-shadow: 0px 0px 12px #e64343;
}

.suggestions {
    color: #E0E0E0;
    background-color: #00000080;
    box-shadow: 0px 0px 12px #f52fc3;
}

.suggestion-item:hover {
    background-color: #FFFFFF40;
}
